// レイアウト幅
//$layout-width-inner: 1180px;

// ブレークポイント
// $breakpoints: (
//  "sp": "screen and (max-width: 767px)",
//  "tab": "screen and (max-width: #{$layout-width-inner - 1px})",
//  "pc": "screen and (min-width: #{$layout-width-inner})",
// );

$breakpoint-sm: 481px !default;
$breakpoint-md: 769px !default;
$breakpoint-lg: 1025px !default;
$breakpoints: (
  'sm': 'screen and (min-width: 481px)',
  'md': 'screen and (min-width: 769px)',
  'md-sp': 'screen and (min-width: 881px)',
  'lg': 'screen and (min-width: 1025px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}



/* 3rem(48px) @ 20rem(320px) increasing to 3.2rem(51.2px) @ 120rem(1920px) */
@media (min-width: 20rem) {
  .xx-large {
    font-size: calc(3.2rem + ((1vw - 0.2rem) * 0.2));
    /* Where: * 0.2 = 100 * font_Size_Difference / viewport_Width_Difference */
  }
}
/* Prevent font scaling beyond this breakpoint */
@media (min-width: 120rem) {
  .xx-large {
    font-size: 3.2rem;
  }
}


/* 2rem(32px) @ 20rem(320px) increasing to 2.4rem(38.4px) @ 120rem(1920px) */
@media (min-width: 20rem) {
  .x-large {
    font-size: calc(2.4rem + ((1vw - 0.2rem) * 0.4));
    /* Where: * 0.4 = 100 * font_Size_Difference / viewport_Width_Difference */
  }
}
/* Prevent font scaling beyond this breakpoint */
@media (min-width: 120rem) {
  .x-large {
    font-size: 2.4rem;
  }
}

/* 1.5rem(24px) @ 20rem(320px) increasing to 1.8rem(28.8px) @ 120rem(1920px) */
@media (min-width: 20rem) {
  .large {
    font-size: calc(1.8rem + ((1vw - 0.2rem) * 0.3));
    /* Where: * 0.3 = 100 * font_Size_Difference / viewport_Width_Difference */
  }
}
/* Prevent font scaling beyond this breakpoint */
@media (min-width: 120rem) {
  .large {
    font-size: 1.8rem;
  }
}

/* 1.3rem(20.8px) @ 20rem(320px) increasing to 1.6rem(25.6px) @ 120rem(1920px) */
@media (min-width: 20rem) {
  .small {
    font-size: calc(1.3em + ((1vw - 0.2rem) * 0.3));
    /* Where: * 0.3 = 100 * font_Size_Difference / viewport_Width_Difference */
  }
}
/* Prevent font scaling beyond this breakpoint */
@media (min-width: 120rem) {
  .small {
    font-size: 1.3rem;
  }
}

/* 1rem(16px) @ 20rem(320px) increasing to 1.2rem(19.2px) @ 120rem(1920px) */
@media (min-width: 20rem) {
  .x-small {
    font-size: calc(1rem + ((1vw - 0.2rem) * 0.2));
    /* Where: * 0.2 = 100 * font_Size_Difference / viewport_Width_Difference */
  }
}
/* Prevent font scaling beyond this breakpoint */
@media (min-width: 120rem) {
  .x-small {
    font-size: 1rem;
  }
}

/* 0.7rem(11.2px) @ 20rem(320px) increasing to 1rem(16px) @ 120rem(1920px) */
@media (min-width: 20rem) {
  .xx-small {
    font-size: calc(0.85rem + ((1vw - 0.2rem) * 0.3));
    /* Where: * 0.3 = 100 * font_Size_Difference / viewport_Width_Difference */
  }
}
/* Prevent font scaling beyond this breakpoint */
@media (min-width: 120rem) {
  .xx-small {
    font-size: 0.85rem;
  }
}

/* 14px @ 320px increasing to 16px @ 1920px */
@media (min-width: 320px) {
  p {
    font-size: calc(1.6rem + ((1vw - 3.2px) * 0.125));
    /* Where: * 0.125 = 100 * font_Size_Difference / viewport_Width_Difference */
  }
}
/* Prevent font scaling beyond this breakpoint */
@media (min-width: 1920px) {
  p {
    font-size: 1.6rem;
  }
}

//responsive
img, embed, object, video {
  max-width: 100%;
}

* {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
      -o-box-sizing: border-box;
     -ms-box-sizing: border-box;
         box-sizing: border-box;
}
